/* .plots{
    display: flex;
    flex-direction: column;  
    row-gap: 20px;  
    align-items: center;
    justify-content: center;
}
  */

/* src/Dashboard.css */
.dashboard {
    text-align: center;
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
  }
  
  .dashboard h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .chart-container {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
  }
  
  /* src/Dashboard.css */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.plots {
    margin-left: 200px; /* Same width as the navbar */
    padding: 20px;
    flex-grow: 1;
    background-color: #1a1a1a;
    color: #ffffff;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plots h1 {
    color: #ffffff;
}
